// Place all the styles related to the coach_profile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#trainer{
	margin-top:100px;
}

nav.sign-navbar{
 display:flex;
 align-items:center;
 position:fixed;
 width:100%;
 top:0;
 height:60px;
 background-color:#1da1f2;
 border-color:#1da1f2;
 box-shadow: 1px 1px 6px;
 z-index:10;
 }

 #inside-nav{
 display: flex;
 justify-content: space-between;
 width:92%;
 margin-left: 4%;
 }

 #inside-search input{
 width:98%;
 font-family: inherit;
 padding-left:8px;
 padding-right:8px;
 margin-left:16%;
 height:32px;
 border:1px;
 border-radius:7px;
 border-color:#007bff;
 }
 #nav-mid-inside{
 width:26%;
 display: flex;
 justify-content:space-between;
 }
 #search-icon-inside i{
  margin-left:160%;
  margin-top:3px;
  font-size:23px;
 }
